body {
  font-family: monospace;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #000000;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e3e3;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav .nav-link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #000000 !important;
  text-decoration: none;
}

.imageIcon {
  width: 250px;
  height: 100px;
}

h2 h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #141313;
  border-radius: 5px;
  margin: 10px;
}

.data {
  color: #080808;
}

input[type="submit"] {
  background-color: #333;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #ffcc00;
  color: black;
}

.footer {
  background-color: #e7e3e3;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  width: auto;
  position: relative;
  bottom: 0;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-container {
  margin-bottom: 20px;
}

.label {
  margin-right: 10px;
}

.select,
.input,
.checkbox {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #555;
  padding: 10px;
  font-size: 14px;
  width: 200px;s
}

.button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #050505;
}

.resultado {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.precio {
  color: #000000;
}

#cabeceraPrincipal {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
}

h1 {
  font-size: 2rem;
}

#seccionMuebles {
  margin-top: 20px;
}

#botonAgregarMueble {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

#botonAgregarMueble:hover {
  background-color: #000000;
}

#listaDeMuebles {
  list-style-type: none;
  padding: 0;
}

#listaDeMuebles li {
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

#piePagina {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}